
<!-- DevExtreme Components -->
<div class="list-container">
    <dx-list [dataSource]="allUsers" [showSelectionControls]="true" itemTemplate="allUsers">
        <div *dxTemplate="let user of 'allUsers'">
            <div *ngIf="user.isOnline">
                <span style="color: #33b756; ">
                    <i class="fas fa-user-check"></i>
                    {{user.username}}
                </span>
            </div>
            <div *ngIf="!user.isOnline">
                <span>
                    <i class="fas fa-user-times"></i>
                    {{user.username}}
                   
                </span>
            </div>
        </div>
    </dx-list>
</div>