.list-group-item {
    background-color: darkslategrey;
    border: none !important;
    border-bottom: 1px solid #30d662 !important;
    margin-bottom: 5px;
}

.fa-smile-o {
    float: right;
}

#offline {
    opacity: 0.3;
}

.fa-frown-o {
    float: right;
}