.mainContainer {
    padding-top: 10px;
    margin-bottom: 30px;
}

.h2 {
    font-family: serif;
}

.InoutMessagerContainer {
    padding-left: 10px;
    padding-right: 14px;
    width: fit-content;
    color: white;
    background-color: rgb(45, 71, 71);
    text-align: left;
    margin-left: 33px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 11px;
    border-radius: 10px;
    max-width: 733px;
    overflow-wrap: break-word;
}

.md-textarea {
    height: 150px !important;
    padding: 12px 20px !important;
    font-size: 16px !important;
    resize: none !important;
    border: none !important;
    border-bottom: 1px solid #5454d8 !important;
    outline: none !important;
    background-color: rgb(56, 86, 86) !important;
    color: white;
    margin-bottom: 20px;
}

.btn {
    border-radius: 0%;
}
.VideoPart {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 300px;
 
}
.Kamera {
    float: left;
    margin: 0px 30px 9px;
}