<form class="container">
    <div class="form-group" *ngIf="userDetails">
        <i class="fa fa-pencil"></i> {{formModel.User}}
    </div>
    <form class="form-group" #chatForm="ngForm" (ngSubmit)="onSendMessage(chatForm)">
        <div class="md-form col-md-8">
            <textarea class="md-textarea form-control" #Message="ngModel" name="Message" [(ngModel)]="formModel.Message" required></textarea>
        </div>
        <div class="form-group col-md-3">
            <button type="submit" class="btn btn-block btn-info"><i class="fa fa-paper-plane" aria-hidden="true"></i> send</button>
        </div>
    </form>
</form>
<br>
<form>
    <div class="InoutMessagerContainer" *ngFor="let message of messageList">
        <h4 style="font-family: Monospace; font-size: 18px;  font-style: italic;">{{message}}</h4>
    </div>
</form>
<div class="VideoPart">
    <app-video></app-video>
</div>