    <div class="col-4" style="max-width: 450px;">
        <form [formGroup]="formModel" autocomplete="off" #regForm="ngForm" (submit)="onSubmit()">
            <div class="form-group required">
                <label> Username </label>
                <input class="form-control" formControlName="UserName">
                <label class="text-danger" *ngIf="formModel.get('UserName').touched && formModel.get('UserName').errors?.required">This field is mandatory</label>
            </div>
            <div class="form-group">
                <label> Email </label>
                <input class="form-control" formControlName="Email">
                <label class="text-danger" *ngIf="formModel.get('Email').touched && formModel.get('Email').errors?.required">Invalid email address</label>
            </div>
            <div class="form-group">
                <label> FullName </label>
                <input class="form-control" formControlName="FullName">
            </div>
            <div formGroupName="Passwords">
                <div class="form-group required">
                    <label> Password </label>
                    <input type="password" class="form-control" formControlName="Password">
                    <label class="text-danger" *ngIf="formModel.get('Passwords.Password').touched && formModel.get('Passwords.Password').errors?.minlength">Minimum 4 Character</label>
                </div>
                <div class="form-group required">
                    <label> ConfirmPassword </label>
                    <input type="password" class="form-control" formControlName="ConfirmPassword">
                    <label class="text-danger" *ngIf="formModel.get('Passwords.ConfirmPassword').touched && formModel.get('Passwords.ConfirmPassword').errors?.minlength">Minimum 4 Character</label>
                    <label class="text-danger" *ngIf="formModel.get('Passwords.ConfirmPassword').touched && formModel.get('Passwords.ConfirmPassword').errors?.Passwordmismatch">Password does not match</label>

                </div>
            </div>
            <div *ngFor="let choice of roleList; let i=index" class="col-md-2" style="width: 52.666667%;">
                <label>
                    <input type="checkbox" [value]="choice.roleName" formControlName = "IsAdmin" (change)="onCheckChange($event)">
                        {{choice.roleName}}
                </label>
            </div>
            <!--
                  <div class="form-group">
                <tr>
                    <td *ngFor="let Role of roleList; let iRole = index">
                        <input type="checkbox" [id]="iRole" formControlName="myValues">
                        <label [for]="iRole" style="margin-left: 5px; margin-right: 5px">{{roleList[iRole].roleName}}</label>
                    </td>
                </tr>
            </div> 
            -->


            <!--
                <div class="form-group" *ngIf="IsRoleSelected">
                    <tr>
                        <td *ngFor="let Role of roleList; let iRole = index">
                           
                                <i class="fa fa-check-square-o" aria-hidden="true" (click)="giveRole()"></i>
                            
                            <input type="checkbox" value="{{roleList[iRole].roleId}}" formControlName="Role">
                            <label style="margin-left: 5px; margin-right: 5px">{{roleList[iRole].roleId}}{{roleList[iRole].roleName}} </label>
                        </td>
                    </tr>
                </div>
            -->

            <div class="form-row ">
                <div class="form-group" style="color:black; margin-top: 40px;">
                    <button type="submit " class="btn btn-block " [disabled]="!formModel.valid "> Save </button>
                </div>
            </div>
        </form>
    </div>