/* RegistrationForm Design */

div.form-group.required>label:first-child:after {
    content: '*';
    color: red;
}

label.text-danger {
    color: #fb0905;
    margin-top: 10px;
}

button.btn.btn-block {
    margin-top: 30px;
}