<div class="back">
    <button class="btn btn-link btn-lg" type="button" style="float: right;" routerLink="/home"><i class="fas fa-arrow-left "></i></button>
</div>
    
<div class="home">
    <div class="UserPart">
        <p>User List</p>
    </div>
    <div class="ChatPart">
    <p> Chat </p>
    </div>
</div>
