.home {
   width: 1000px !important;
   height: 650px !important;
   border: 1px solid black !important;
   margin: 50px 0px 0px 50px !important;
   border-radius: 5px !important;
}
.UserPart{
    width: 400px !important;
    height: inherit;
    border: 1px solid;
    border-radius: 3px;
    float: left;
    
}
.ChatPart{
    width: 600px;
    height: inherit;
    margin: 0px 0px 0px 400px;
    border: 1px solid;
    border-radius: 3px;
}