<div class="back">
    <button class="btn btn-link btn-lg" type="button" style="float: left;" routerLink="/home"><i class="fas fa-arrow-left "></i></button>
</div>
<div class="container">  
    
    <form [formGroup]="UserForm" (ngSubmit)="this[EventValue]()">  
        
        <h3>User Table</h3> 
        <hr> 
        <div class="row">  
             
        <table class="table">  
        <tr>  
          <td>Name</td>  
          <td>  
            <input type="hidden" formControlName="id">  
           <!--  <input type="text" formControlName="userName">   -->

            <div class="form-group">
                <input class="form-control"  type="text" formControlName="userName">
            </div>

            <div *ngIf="submitted && UserForm.controls.userName.errors" class="text-danger">  
              <div *ngIf="UserForm.controls.userName.errors.required">Name is required</div>  
            </div>   
          </td>  
        </tr>  

        <tr>  
          <td>Password</td>  
          <td>  
            
           <!--  <input type="text" formControlName="userName">   -->

            <div class="form-group">
                <input class="form-control"  type="text" formControlName="password">
            </div>

            <div *ngIf="submitted && UserForm.controls.password.errors" class="text-danger">  
              <div *ngIf="UserForm.controls.password.errors.required">Password is required</div>  
            </div>   
          </td>  
        </tr>  
          
        <tr>  
          <td>Contact</td>  
          <td>
              <!-- <input type="text" formControlName="phoneNumber">   -->
            <div class="form-group">
                <input class="form-control"  type="text" formControlName="phoneNumber">
            </div>
            <div *ngIf="submitted && UserForm.controls.phoneNumber.errors" class="text-danger">  
              <div *ngIf="UserForm.controls.phoneNumber.errors.required">Contact is required</div>  
            </div>   
          </td>  
        </tr>  
        <tr>  
          <td>Email</td>  
          <td>  
           <!--  <input type="text" formControlName="email">   -->
            <div class="form-group">
                <input class="form-control"  type="text" formControlName="email">
            </div>
            <div *ngIf="submitted && UserForm.controls.email.errors" class="text-danger">  
              <div *ngIf="UserForm.controls.email.errors.required">Email is required</div>  
            </div>  
          </td>  
        </tr>  
        <tr>  
          <td colspan="2">  
            <button type="submit" class="btn btn-primary"  [disabled]="true">{{EventValue}}</button>  
          </td>  
        </tr>  
          
      </table>  
      </div>  
        <hr> 
     <div class="row">  
      <table class="table table-striped">  
        <tr>  
          <td>Id</td>  
          <td>UserName</td>  
          <td>Password</td> 
            
          <td>Contact</td>  
          <td>Email</td>  
           
          <td>Edit</td>  
          <td>Delete</td>  
        </tr>  
      
        <tr *ngFor="let d of data">  
          <td>{{d.id}}</td>  
          <td>{{d.userName}}</td>  
          <td>{{d.password}}</td> 
           
          <td>{{d.phoneNumber}}</td>  
          <td>{{d.email}}</td>  
          
          <td><button (click)="EditData(d)" class="btn btn-warning" [disabled]="true">Edit</button></td>  
          <td><a (click)="deleteData(d.id)" class="btn btn-danger">Delete</a></td>    
        </tr>  
      </table>  
    </div>  
    </form>  
      
    </div>  
