.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 0 30px 30px 30px;
    max-width: 540px;
    margin-top: 50px;
}

.navbar {
    background-color: rgb(52, 83, 83);
}

.jumbotron {
    color: rgb(52, 83, 83);
}

.tab-header {
    margin-left: 0px;
    margin-bottom: 20px;
}

#logo {
    width: 50px;
    float: right;
    margin-right: 15px;
    margin-top: 17px;
}