<nav class="navbar navbar-expand-md">
</nav>
<div style="text-align: center; margin-top: -20px;">
    <h2 class="jumbotron "> CHAT HUB </h2>
</div>
<div class="wrapper">
    <div class="wrapped-div">
        <div class="card container">
            <div class="container">
                <div class="tab-header">
                    <h2 routerLink='/user/login' routerLinkActive='active'>Sign in</h2>
                    <h2 routerLink='/user/registration' routerLinkActive='active'>Sign Up</h2>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-6 offset-md-3">
                        <router-outlet> </router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>