<div style="float: left;">
    <!-- here is the camera and videa buttons  -->
    <div class="Kamera">
        <button class="btn btn-link btn-lg" type="button" style="float: right" routerLink="/Video"> <i class="fas fa-camera fa-2x" ></i></button>
       </div>
       <div class="Video">
           <button class="btn btn-link btn-lg" type="button" style="float: right" routerLink="/Video"><i class="fas fa-video fa-2x"></i></button>
       </div>
       <div>
        <button class="btn btn-link btn-lg" type="button" style="float: right" routerLink="/NewHome"><i class="fas fa-home fa-2x"></i></button>
       </div>
</div>


