<div class="col-4" style="max-width: 450px;">
    <form #form='ngForm' autocomplete="off" (submit)="onLogin(form)">
        <div class="form-group">
            <label> Username </label>
            <input class="form-control" #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName" required>
            <!--
                   <label class="text-danger" *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">This field is mandatory</label>
                -->
        </div>
        <div class="form-group required">
            <label> Password </label>
            <input type="password" class="form-control" #Password="ngModel" name="Password"
                [(ngModel)]="formModel.Password" required>
            <!--
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Minimum 4 Character</label>
                -->
        </div>
        <div class="form-row">
            <div class="form-group" id="LoginBtn" style="margin-top: 40px;">
                <button type="submit" class="btn btn-block" [disabled]="form.invalid"> login </button>
            </div>
        </div>
    </form>
</div>