/* You can add global styles to this file, and also import other style files */

body {
    background-color: darkslategrey;
    color: beige;
}

.wrapper {
    padding: 20px;
}

.tab-header {
    margin-left: 150px;
}

.tab-header h2.active {
    color: #fff;
    border-bottom: 4px solid #fff;
}

.tab-header h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    padding: 30px 40px 10px 40px;
    cursor: pointer;
    color: #545d6a;
    border-bottom: 2px solid #545d6a;
}