.navbar {
    background-color: rgb(52, 83, 83);
}

.jumbotron {
    color: rgb(52, 83, 83);
}

.col-md-2 {
    margin-bottom: 30px;
}

.fa-users {
    cursor: pointer;
}
.btn-link {
    font-weight: 400;
    color: #33b756;
    border-radius: 0;
}
.btn-link:focus, .btn-link:hover {
    color: #d43f3a;
    text-decoration: underline;
    background-color: transparent;
}
.btn[name="OnlineUser"]:focus, .btn[name="OnlineUser"]:hover {
    color:#3387b7;
    font-weight: bold;
}
