<nav class="navbar navbar-expand-md">
    <i class="far fa-user-circle fa-2x" style="float: left; margin: 8px 0px 0px 8px;"></i>
    <p style="float: left; margin: 13px 8px 0px;">{{User}} </p>
    <button class="btn btn-link btn-lg" type="button" style="float: right;" (click)="onLogout()">logout <i class="fas fa-sign-out-alt"></i></button>
    <button class="btn btn-link btn-lg" type="button" style="float: right" routerLink="/adminpanel"><i class="fas fa-cogs"></i></button>
    <div *ngIf="isAdmin">
        <button class="btn btn-link btn-lg" type="button" style="float: right" routerLink="/UserManagement"><i class="fas fa-address-book "></i></button>
    </div>
</nav>
<div style="text-align: center; margin-top: -20px;">
    <h2 class="jumbotron "> CHAT HUB </h2>
</div>
<form class="container">
    <div class="form-row">
        <div class="col-md-2">
            <button class="btn btn-link btn-lg" name="OnlineUser" type="button" (click)="showOnlinUser()"><i class="fas fa-users fa-3x" ></i></button>
          
            <div *ngIf="showActiveUser">
                <app-online-users></app-online-users>
            </div>
        </div>
        <div class="col-md-10">
            <app-home-chat></app-home-chat>
        </div>
    </div>
</form>
